*, *::before, *::after {
    box-sizing: border-box;     
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif; 
}

/* Typography */
h1,
form > button,
.ratings {
    font-weight: bold;
}

h1,
h2,
p,
.ratings {
    margin: 0;
}

h1 {
    font-size: 1.75rem;
}

.movie-title h2 {
    font-size: 1rem;
}

.info p {
    font-size: 0.45rem;
    font-weight: 900;
}

.plot p {
    font-size: 0.75rem;
}

.ratings {
    font-size: 0.55rem;
}

form > input,
form > button {
    font-family: "Nunito", sans-serif;
}

#movies-container > i,
#movies-container > h2,
.not-found {
    color: #bbb;
}

/* Layout */
form > input,
form > button {
    border: 1px solid #bbb;
}

.header-container,
.top-container,
#movies-container,
.movie {
    width: 100%;
}

.header-container a,
.top-container,
form > button:hover {
    color: #ffffff;
}

.header-container a,
form > input,
.ratings {
    margin: 0;
}

.header-container,
.top-container,
form,
#movies-container,
.movie,
.movie-details-container,
.movie-title,
.info-container,
.info {
    display: flex;
}

.top-container,
form,
.movie,
.movie-title,
.info {
    flex-direction: row;
}

.header-container,
#movies-container,
.movie-details-container,
.movie-details-container,
.info-container {
    flex-direction: column;
}

.header-container,
.top-container,
#movies-container,
.movie-title {
    align-items: center;
}

.header-container,
form,
#movies-container,
.movie-title,
.info-container {
    justify-content: center;
}

.header-container {
    background: linear-gradient(rgba(12, 23, 19, 0.2), rgba(12, 23, 19, 0.2)), url("./img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 20%;
    height: 30vh;
}

.header-container a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.header-container a:hover {
    color: #DC143C;
    transition: .5s ease;
}

.top-container {
    justify-content: space-around;
}

form {
    position: absolute;
    bottom: 68%;
}

form > input {
    border-right: none;
    width: 60vw;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

form > input:focus {
   outline: none;
}

form > button {
    border-left: none;
    padding: 0 20px;
    margin-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

form > button:hover {
    background-color: #DC143C;
    transition: .3s ease;
}

#movies-container {
    margin-top: 2em;
    gap: 1em;
}

.not-found-container {
    display: flex;
    text-align: center;
}

.not-found-container p {
    margin-top: 2em;
    font-weight: 600;
}

.added {
    background-color: #313131;
    color: #ffffff;
    position: fixed;
    top: 70%;
    left: 40%;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 7px;
    text-align: center;
    border-radius: 5px;
}

#movies-container > i {
    margin-top: 1em;
    font-size: 10rem;
}

.movie {
    background-color: #ebe9e9;
    gap: 0.75em;
}

.poster {
    width: 100px;
    height: 150px;
}


.movie-title {
    align-self: flex-start;
    gap: 1em;
}

.movie-details-container{
    gap: 0.5em;
}

.info-container {
    gap: 0.5em;
}

.info {
    gap: 0.5em;
}

.watchlist:hover{
    cursor: pointer;
    text-decoration: 1px solid #DC143C underline;
    color: #DC143C;
    transition: .3s ease;
}

/* Media query */
@media(min-width: 530px) {
    #movies-container {
        width: 90%;
        margin: 2em auto 0;
    }

    form > input {
        width: 50vw;
    }
}

@media(min-width: 870px) {
    #movies-container {
        width: 50%;
    }

    form > input {
        width: 30vw;
    }

    .movie-title h2 {
        font-size: 1.2rem;
    }
    
    .info p {
        font-size: 0.6rem;
        font-weight: 900;
    }
    
    .plot p {
        font-size: 0.8rem;
    }
    
    .ratings {
        font-size: 1.2rem;
    }

    .added {
        top: 70%;
        left: 45%;
    }
}

@media(min-width: 1024px) {
    .movie-title h2 {
        font-size: 1.4rem;
    }
    
    .info p {
        font-size: 0.8rem;
        font-weight: 900;
    }
    
    .plot p {
        font-size: 0.9rem;
    }
    
    .ratings {
        font-size: 1.2rem;
    }
}